<html>
  <head>
    <script src="socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/javascripts/pie.js"></script>
    <script src="/javascripts/client-app.js"></script>
    <script>var socket = io.connect("localhost");
      socket.on("update", function(data) {
      $("#"+data.key).html(data.count);
      });
    </script>
  </head>
  <body>
    <%- body %>
  </body>
</html>
